extends layout

block content
  h1= title
  h3 Welcome to #{title}
  
  each message in messages 
    p.text= message.text
    p.user= message.user
    p.added= message.added
    p ----------------------
  
 
