extends layout

block content
  h1= title
  h3 Welcome to #{title}
  each message in messages
    .messageCard 
      p.text= message.text
      p.user by: #{message.user}
      p.added= message.added
    
  
 
